{% extends "zerver/portico.html" %}
{% set entrypoint = "dev-integrations-panel" %}

{% block title %}
<title>Integrations developer panel | Zulip Dev</title>
{% endblock %}

{% block customhead %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}


{% block portico_content %}
<div class="header portico-header">
    <div class="header-main top-navbar">
        <div>
            <a class="brand logo">
                <svg aria-label="{{ _('Zulip') }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="139px" height="25px" viewBox="0 0 139 25" enable-background="new 0 0 139 25" xml:space="preserve">
                    <image id="image0" width="139" height="25" x="0" y="0"
                    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIsAAAAZCAYAAAABt923AAAAIGNIUk0AAHomAACAhAAA+gAAAIDo
                AAB1MAAA6mAAADqYAAAXcJy6UTwAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAADsMAAA7DAcdv
                qGQAAAxvSURBVGje7ZppdFRFFsd/3Z1espF9gwQSTIgsIUCMIGiAgSAoKoqIC46o4zJu4+64jQqu
                eJyjjsoZF3CFcRTFBUUBZRFZRbYEWRISSEKA7OlOd9JJ13yoesmj7aQ7DsqX/M95p96rulW36ta9
                t+6tbuhBD/4QJJ4eH5Z59vPRg/Ie01fnTLzQdqqn1oOTj6CuGtNG5scePVY/1uVyjRbCkG4JCY7w
                iDan2+msiI+Ld8fGx5xbVnE0GYM4E7CGZ44eZTSarj1e55gLFJ3qxfXg5MKnsgybcH7ongMVtxwq
                r745Ojmp/6DsgSRn9qd0ewHHCou5cFIeCQmxfLliLQ12x9GkmJhbsybMHFFZVT3c2eRYNCS1d/Gh
                rad6aT042TB4V/TOzks9UtWwMLZv73GTbriCgdMnENYrgvXvfcaWN5Ywe/p5NDU3s/TrVfSJj+Wa
                GVOpa7Tz4087+W7dpm0Gt3PK8T0bjp3qhfXg5OMEZUnOHpdcfrxu2chzcoc+Mu9RDvWN49v3P6Fh
                yy/EuO2kxoUSYjFSePAIFTVtpKemMPj0ND5fvoaNW3e5g62m/MYDm9ac6kX14PeBSXuZPPNq8459
                5e8MGjU8b9HCF9kbF8M7815jVH0N951l5fTGQs6o281Yx27GmspZc8xChUvwxcp1hI87A1OQ2VRf
                UpYwdOSwjyuLD7QFyNsEeLqgMQBmwKLePX7GNAA2oDVA/hFq/BY/tJFqDs2/2050IBQIUWv1t95A
                0B2ZdIn2mOWHrftnBMdFXzjz7zfx3o7dfLfpZ9Jrarg2t5nr564kJDmLnKJNzIyu5cd6K40Jp2M1
                mXF5ID47k4SzR1BbXDalqKh6FvBWJ/xMwHxgEBAMGIGjwPfAu8ARHe0s4FZFZ0NuVBHwCbAY8KWQ
                04AHgElAQydz6AfcDEwA+igh7gQWAl8Abp2QZwHXAZmK317gAzVXjf9g4FngLuCAF68XgBzgDsWj
                K4wDblH0NuA4sA54DigD/gH8CZgHfKXrFwW8AwhgNlDrNe6lam6TADsQrtYar/poD2o/tLVvBu71
                OVNzypk/DH9orsif85y498H7xIv33yCKvn5CvHHBAJE55Cyx5LbpYunoWPFRTi8xZfwU8dKiJWLe
                6wtEzvmzBEkjxNAHHxdZD8wV1pTc7SPGT7V2IpAgYLeaXCNQrZvsXiBXR/uoqm9TCuXQ0c7tZPwv
                VfuMTtrHACWKphn4BahQ32VK8Bqe9Jpbse77FZ1gR6u61UivoMda1TbOj6JcD7gU7VFgD1AHNAEZ
                imaJar/Rq2+ionOodz0MwHLVb5qqi0QqtVP1a9Wtq0nVO5GGcwK0BWOJCD8jOCONbOHgSscG+mz8
                DOtbLzGisZKbrSVsWPEDn9vjaE0bTN+ckSz9chVvf/gNdoeL0OgIkvLPIeac4RhDQoaUVtRkdSEY
                zeVfhrTYM5HeYgDSYmNUu+Y2lwID1fOIWtStPgSTqduUa33wTQDeQ3qWj4FhwFBgCNJ7PEqHVU4C
                HlTfU4FsIAu4AqnktwLnK1rtuBgLPNPJWrs6TnKAlwEr8LSaT7YqpwD7FZ3m8bw9qkAqmqZsegwC
                8tT7NapsUHUD1HODqt+gqxugZHIC2o8hW3yM1ZYYh/GrD1n1yz5sJiOFDS7ediazOWYQCWmJZMba
                WHq8is0r1nLM0UJIRDj9qstJdnvY8dpiMq6ciiU+2uQ6VD4M8Jc8VwNV6vkz0oKygEuAN3R0TqBG
                Pa8A9yA9QAxQqaO7HGnZDqU0mUiPoOE6IE3N6xqkFaHGXeg1t78iDelFYJmu/j/AGWoOs/m19d0O
                bAcWEDjuRMYoS4CHdfVl6vGG2+vbl5JouAJ5jDuAiUA60qtU6GiO6sYpowu0K4s5LJSI9ES+De+H
                8aLRuAoPEHb4EMGn9SPFZKCy5CA/bj2CWxios4YxxlFFUl0paR4nXwTHs3frLnql9MYSHkYzom8A
                QjLp3h3IIyQLOJsTlUXL2IxIi49AxjZ6RQkFrlJ1byI90JXAY7oxJqv3hXQoii9EIRXCw4mKouFb
                pLJkKfl51PgOtTEvALuALQHIIIIOy58fAD1IrzNBJ5cofAffYUomZUiP/RDSoJ7sZB8M+EG7snja
                2mhtbSP14RtxH6/F2miH2CgOx/bCNrA/oY1OihctY1p2H+qaW7GtXkm+u4GyRiPNHkG/aZOJzBlK
                1c69gMHkj7EPlKsy2qs+H1ilFj9Ubc5cpGfSMB7pmT4E/g3crQT1PDKoCwZ6K9pdun6hwF+Qlm0A
                diBjqmjk5vu6LzqKtOQINa5QfbcAm5AB9gJkMOovy4oB4hSv/QSGu9XjDW8DyAdSgfeB15EKfjXw
                T7o2lk7RrizNNfU4KmoISU/ElhJP9ags3I12Mi8Zj8PeQs3BY/SK3sCNM89m2Y8FlK2H1AiB3QPV
                bWZaig4RlZ6G296E2Wwqc3V/LiGqdHrVhwPDkRbkAW5Ceg89ZqvyE6QlrUV6knzgU+RmavGZx2vs
                Z5HZB8Ai4H46FMCXtWmGoM8iUOM/ruY6CXlkhtA1jIpHG76zO19YCRSofgKp8Ffr1qdBi1E+AUqB
                9UgFHo9vj+kX7QzctXXumoKDOCrraLK7iM4bTtLF43C0uKmtqOPQms3kJMXQajDy7fp9JJuaKWqy
                sMkdSo3ZRkPhfup37qXV7hAWq9VfmugL2aos9qr/Ahl/fK7mO8SrPRU4F6lk9cjjYbdqm61KJx1e
                IkPXVwtgX9XEoMaoR250vI959lEbVYW0UE2hTMhz/0bgMDKAH+NnzXWKVxiQFKCc3kXGOX9T5T1I
                z6RXlgykodiRAbkvmXQb7QxEs6vg+NYC6vcfpWZPBZXbDlL5cwlVhUeoLizG/cM25tx+Mf2TrBjt
                jSTRwurGMPYQgjEunt6jc3GUH0G4XEUJCVE7AuCtvyQaDJyn3ld50bmRdw73Io+e25BZgoYZStjB
                yDRxJx33AxOU4DxIbwMyUzKr92bFb7P6NikBF9ARI3ljuio3qnG9LboU6f1a8PNDLTK43q3GuCrA
                PbN4fQfzaw84E6nsYcAKJZM7VNskoH+AvE5A+0JtFvOCuu0FOPaW4Dh8jMbKGuyHq6nfX0bZ4s95
                6obLqK+v5LrHPyXxSDFx7hbiW5rYGxSKOTgYc2QvGg+XYzEZ3i387lN7ALz7IrOTi5BZRhTwDeD9
                c4EmiP3IWMWEPHej1Lsm5FeQlnaXKjciXfTlqv0tpCXnIQPoDGS6GgWMUDTa5r6vyjuQCmdDxjF3
                IgPnFn59FOrxNTAnABl46Ajmb0ZmYZFqXkORwXhmN/bTo+Z6hfp+yUsmW4BeSGX67Rgy9oLwkP5n
                bY3Mu1Rk3Pu0yHz4eTFwzssiYvIs8Y9584UQFWLz2jdFZu4EsWhYtHgrNUrkJ6UL+o8R4blTReTY
                S4XttFH70kbmx3bBJggZYGqXbS10nP0rgBQdrXYp95Guzgp8p+pfRFqJQGZH4V68pqu2EiUglBAb
                VL0DeflVppvDCzo+i3X1vyADcIH0iPqbTe1SbrMX/yBkvCCQdzBdyWS+jtchxc+tvu9XdF1dyjmQ
                HjECuICOS0bvmOly1XYA6XVAGqtAxjRdoj1rOVa6ryWyT/o2R1XtJW6nK8QSGkbtwVIGm008/8gt
                bP9pJU+9uZqMkp1EtnlY5YxgQ1AE5pS+BJmMuCrKHWEhllkV274v6IKfAWkxDchz/QAyFX0GeALp
                ljUkI615Ix1HSBvyHuM0JZg4ZDzyX6Sy6VGJtEoX0qIqkS5/FdKVhyOt2I68fX1WbVqL4vMVMp6I
                QMYuzUivdx/yel1DODKO2ob0KBo8in4U8njs7A7Do9pLkUodg1TWPcC/kJmVkw4Ps5wTMyezkmkx
                8rJxEh3K/r0PmQxU421ExnHRyGPpJ6RnDxwxg8ZOtKSNKg/LPV9Yh04UX65YJ4Q4LJ6e97BIHJAr
                PhgcIxb0jRQzE1OFMe0sYcnME7aMMfWxQ86Z0S1GJweBpui+shobUln8/avPiFQYf5lNZzDjP3bR
                I5wOT/hb4Pe+pJt07fiVsJ3HS4vjUgcsd9U39BNud4bD2WSoqjzI6p9KCCo/TEKri9VNYeyy9qI2
                yIoZz/owW9Dsqt3ruqeVJwfi/+jbivQ6/n6N1X5Hcvsd0Te6++txC3/Mr9vdRqfa9fgTj5leXbJm
                QlVtw6UYg0aZzZa+ZjzhGISrFWOFMBi2hJqNSzJTopdtXL70N1yr9KAHPehBD3rQgx4EjP8BOEQ6
                OEtrGZEAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjQtMTAtMjFUMDA6MTg6MjArMDA6MDDfclerAAAA
                JXRFWHRkYXRlOm1vZGlmeQAyMDI0LTEwLTIxVDAwOjE4OjIwKzAwOjAwri/vFwAAACh0RVh0ZGF0
                ZTp0aW1lc3RhbXAAMjAyNC0xMC0yMVQwMDoxODoyMCswMDowMPk6zsgAAAAASUVORK5CYII=" />
                </svg>
            </a>
        </div>

        <div class="centerpiece">Integrations developer panel</div>

        <div class="top-links">
            <a href="/">Go to Zulip</a>
        </div>

    </div>
</div>

<div class="pad-small"></div>

<div id="dev-panel">
    <div class="row1">
        <div>
            <label for="bot_name"><b>Bot</b></label>
            <select class="bootstrap-focus-style" id="bot_name">
                <option value=""></option>
                {% for bot in bots %}
                <option value="{{ bot.api_key }}"> {{ bot.full_name }} </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label><b>Integration</b></label>
            <select class="bootstrap-focus-style" id="integration_name">
                <option value=""></option>
                {% for integration in integrations %}
                <option value="{{ integration }}"> {{ integration }} </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="fixture_name"><b>Fixture</b></label>
            <select class="bootstrap-focus-style" id="fixture_name"></select>
        </div>

        <div>
            <label class="optional"><b>Stream</b></label>
            <input id="stream_name" type="text" />
        </div>

        <div>
            <label class="optional"><b>Topic</b></label>
            <input id="topic_name" type="text" />
        </div>
    </div>

    <br />

    <div class="row2">
        <label for="URL"><b>URL</b> (automatically generated)</label>
        <input id="URL" type="text" />
    </div>

    <br />

    <div class="row3">
        <label for="custom_http_headers"><b>Custom HTTP headers</b></label>
        <textarea id="custom_http_headers"></textarea>
    </div>

    <br />

    <div class="row4">
        <div class="col1">
            <div class="inline">
                <label for="fixture_body"><b>Fixture body</b></label>
                <span id="results_notice"></span>
            </div>
            <textarea id="fixture_body"></textarea>
            <div class="buttons">
                <button id="send_all_fixtures_button" class="btn">Send all</button>
                <button id="send_fixture_button" class="btn">Send!</button>
            </div>
        </div>
        <div class="col1">
            <label for="idp-results"><b>Results</b></label>
            <textarea id="idp-results" readonly></textarea>
        </div>
    </div>

</div>

<div class="pad-small"></div>
<input id="csrftoken" type="hidden" value="{{ csrf_token }}" />

{% endblock %}
