<div id="jitsi-overlay" class="overlay flex new-style" tabindex="-1" role="dialog" data-overlay="jitsi-overlay" aria-hidden="true">
    <div class="overlay-content overlay-container">
        <button type="button" class="exit" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        <div class="overlay-body">
            <div class="about-zulip-logo">
                <img src="../../static/images/logo/dragon-chat.png" alt="Dragon Chat" />
            </div>
            <div>
                <a target="_blank" href="" id="jitsi-app" class="jitsi-overlay-url jitsi-overlay-url-application"><img src="../../static/images/logo/dragon-circle.png" class="jitsi-app-icon" alt="Dragon Chat Application" /> Open Jitsi Dragon Chat Application</a>
            </div>
            <div>
                <a target="_blank" href="" id="jitsi-web" class="jitsi-overlay-url jitsi-overlay-url-web"><i class="zulip-icon zulip-icon-hashtag" alt="Dragon Chat Web"></i> Open Web Version of Jitsi Dragon Chat</a>
            </div>
        </div>
    </div>
</div>
