<div id="jitsi-overlay" class="overlay flex new-style" tabindex="-1" role="dialog" data-overlay="jitsi-overlay" aria-hidden="true">
    <div class="overlay-content overlay-container">
        <button type="button" class="exit" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        <div class="overlay-body">
            <div class="about-zulip-logo">
                <img src="../../static/images/logo/dragon-chat.png" alt="Dragon Chat" />
            </div>
            <div class="about-zulip-logo">
                <p>To open the video/voice call in the Jitsi app, use the Dragon Chat Application button.</p>
                <p>To open the video/voice call in your browser, use the Dragon Chat Web button.</p>
            </div>
            <div class="modal__header">
                <a target="_blank" href="" id="jitsi-app" class="center jitsi-overlay-url jitsi-overlay-url-application left-sidebar uppy-c-btn uppy-c-btn-primary">
                    <img src="../../static/images/logo/dragon-circle.png" class="jitsi-app-icon uppy-c-icon" alt="Dragon Chat Application" />
                    <span> Dragon Chat Application</span>
                </a>
                <a target="_blank" href="" id="jitsi-web" class="center jitsi-overlay-url jitsi-overlay-url-web uppy-c-btn uppy-c-btn-primary">
                    <i class="jitsi-app-icon zulip-icon zulip-icon-globe" alt="Dragon Chat Web"></i>
                    <span> Dragon Chat Web</span>
                </a>
            </div>
        </div>
    </div>
</div>
